.theme-entry .SFC.SourceCode-Forms-Controls-Web-ControlPack-ProgressControl {
  --progress-step-completed-icon-color: white;
  --progress-step-paused-icon-color: white;
  --progress-step-in-error-icon-color: white;
  --progress-step-in-progress-icon-color: white;
}
.theme-entry .SFC.SourceCode-Forms-Controls-Web-ControlPack-ProgressControl:not(.disabled) .stylewrapper .container.metro .step-container svg,
.theme-entry .SFC.SourceCode-Forms-Controls-Web-ControlPack-ProgressControl:not(.disabled) .stylewrapper .container.metro .step-container.error svg,
.theme-entry .SFC.SourceCode-Forms-Controls-Web-ControlPack-ProgressControl:not(.disabled) .stylewrapper .container.metro .step-container.inprogress svg,
.theme-entry .SFC.SourceCode-Forms-Controls-Web-ControlPack-ProgressControl:not(.disabled) .stylewrapper .container.metro .step-container.completed svg,
.theme-entry .SFC.SourceCode-Forms-Controls-Web-ControlPack-ProgressControl:not(.disabled) .stylewrapper .container.metro .step-container.paused svg {
  display: block;
  width: 10px;
  height: 10px;
  margin-left: auto;
  margin-right: auto;
}
.theme-entry .SFC.SourceCode-Forms-Controls-Web-ControlPack-ProgressControl:not(.disabled) .stylewrapper .container.metro .step-container .step-area .step-item .step,
.theme-entry .SFC.SourceCode-Forms-Controls-Web-ControlPack-ProgressControl:not(.disabled) .stylewrapper .container.metro .step-container.error .step-area .step-item .step,
.theme-entry .SFC.SourceCode-Forms-Controls-Web-ControlPack-ProgressControl:not(.disabled) .stylewrapper .container.metro .step-container.inprogress .step-area .step-item .step,
.theme-entry .SFC.SourceCode-Forms-Controls-Web-ControlPack-ProgressControl:not(.disabled) .stylewrapper .container.metro .step-container.completed .step-area .step-item .step,
.theme-entry .SFC.SourceCode-Forms-Controls-Web-ControlPack-ProgressControl:not(.disabled) .stylewrapper .container.metro .step-container.paused .step-area .step-item .step {
  background-image: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  border-color: #464d07;
  background-color: #768313;
}
.theme-entry .SFC.SourceCode-Forms-Controls-Web-ControlPack-ProgressControl:not(.disabled) .stylewrapper .container.metro .step-container .step-area .step-item .step:hover,
.theme-entry .SFC.SourceCode-Forms-Controls-Web-ControlPack-ProgressControl:not(.disabled) .stylewrapper .container.metro .step-container.error .step-area .step-item .step:hover,
.theme-entry .SFC.SourceCode-Forms-Controls-Web-ControlPack-ProgressControl:not(.disabled) .stylewrapper .container.metro .step-container.inprogress .step-area .step-item .step:hover,
.theme-entry .SFC.SourceCode-Forms-Controls-Web-ControlPack-ProgressControl:not(.disabled) .stylewrapper .container.metro .step-container.completed .step-area .step-item .step:hover,
.theme-entry .SFC.SourceCode-Forms-Controls-Web-ControlPack-ProgressControl:not(.disabled) .stylewrapper .container.metro .step-container.paused .step-area .step-item .step:hover {
  background-color: #464d07;
  border-color: #464d07;
}
.theme-entry .SFC.SourceCode-Forms-Controls-Web-ControlPack-ProgressControl:not(.disabled) .stylewrapper .container.metro .step-container.inprogress .step-area .step-item .step,
.theme-entry .SFC.SourceCode-Forms-Controls-Web-ControlPack-ProgressControl:not(.disabled) .stylewrapper .container.metro .step-container.error.inprogress .step-area .step-item .step,
.theme-entry .SFC.SourceCode-Forms-Controls-Web-ControlPack-ProgressControl:not(.disabled) .stylewrapper .container.metro .step-container.inprogress.inprogress .step-area .step-item .step,
.theme-entry .SFC.SourceCode-Forms-Controls-Web-ControlPack-ProgressControl:not(.disabled) .stylewrapper .container.metro .step-container.completed.inprogress .step-area .step-item .step,
.theme-entry .SFC.SourceCode-Forms-Controls-Web-ControlPack-ProgressControl:not(.disabled) .stylewrapper .container.metro .step-container.paused.inprogress .step-area .step-item .step {
  background-color: #c4d91f;
  border-color: #c4d91f;
}
.theme-entry .SFC.SourceCode-Forms-Controls-Web-ControlPack-ProgressControl:not(.disabled) .stylewrapper .container.metro .step-container.inprogress .step-area .step-item .step:hover,
.theme-entry .SFC.SourceCode-Forms-Controls-Web-ControlPack-ProgressControl:not(.disabled) .stylewrapper .container.metro .step-container.error.inprogress .step-area .step-item .step:hover,
.theme-entry .SFC.SourceCode-Forms-Controls-Web-ControlPack-ProgressControl:not(.disabled) .stylewrapper .container.metro .step-container.inprogress.inprogress .step-area .step-item .step:hover,
.theme-entry .SFC.SourceCode-Forms-Controls-Web-ControlPack-ProgressControl:not(.disabled) .stylewrapper .container.metro .step-container.completed.inprogress .step-area .step-item .step:hover,
.theme-entry .SFC.SourceCode-Forms-Controls-Web-ControlPack-ProgressControl:not(.disabled) .stylewrapper .container.metro .step-container.paused.inprogress .step-area .step-item .step:hover {
  background-color: #464d07;
  border-color: #464d07;
}
.theme-entry .SFC.SourceCode-Forms-Controls-Web-ControlPack-ProgressControl:not(.disabled) .stylewrapper .container.metro .step-container.inprogress svg,
.theme-entry .SFC.SourceCode-Forms-Controls-Web-ControlPack-ProgressControl:not(.disabled) .stylewrapper .container.metro .step-container.error.inprogress svg,
.theme-entry .SFC.SourceCode-Forms-Controls-Web-ControlPack-ProgressControl:not(.disabled) .stylewrapper .container.metro .step-container.inprogress.inprogress svg,
.theme-entry .SFC.SourceCode-Forms-Controls-Web-ControlPack-ProgressControl:not(.disabled) .stylewrapper .container.metro .step-container.completed.inprogress svg,
.theme-entry .SFC.SourceCode-Forms-Controls-Web-ControlPack-ProgressControl:not(.disabled) .stylewrapper .container.metro .step-container.paused.inprogress svg {
  padding-left: 1.5px;
}
.theme-entry .SFC.SourceCode-Forms-Controls-Web-ControlPack-ProgressControl:not(.disabled) .stylewrapper .container.metro .step-container.completed .step-area .step-item .step,
.theme-entry .SFC.SourceCode-Forms-Controls-Web-ControlPack-ProgressControl:not(.disabled) .stylewrapper .container.metro .step-container.error.completed .step-area .step-item .step,
.theme-entry .SFC.SourceCode-Forms-Controls-Web-ControlPack-ProgressControl:not(.disabled) .stylewrapper .container.metro .step-container.inprogress.completed .step-area .step-item .step,
.theme-entry .SFC.SourceCode-Forms-Controls-Web-ControlPack-ProgressControl:not(.disabled) .stylewrapper .container.metro .step-container.completed.completed .step-area .step-item .step,
.theme-entry .SFC.SourceCode-Forms-Controls-Web-ControlPack-ProgressControl:not(.disabled) .stylewrapper .container.metro .step-container.paused.completed .step-area .step-item .step {
  background-color: #c4d91f;
  border-color: #c4d91f;
}
.theme-entry .SFC.SourceCode-Forms-Controls-Web-ControlPack-ProgressControl:not(.disabled) .stylewrapper .container.metro .step-container.completed .step-area .step-item .step:hover,
.theme-entry .SFC.SourceCode-Forms-Controls-Web-ControlPack-ProgressControl:not(.disabled) .stylewrapper .container.metro .step-container.error.completed .step-area .step-item .step:hover,
.theme-entry .SFC.SourceCode-Forms-Controls-Web-ControlPack-ProgressControl:not(.disabled) .stylewrapper .container.metro .step-container.inprogress.completed .step-area .step-item .step:hover,
.theme-entry .SFC.SourceCode-Forms-Controls-Web-ControlPack-ProgressControl:not(.disabled) .stylewrapper .container.metro .step-container.completed.completed .step-area .step-item .step:hover,
.theme-entry .SFC.SourceCode-Forms-Controls-Web-ControlPack-ProgressControl:not(.disabled) .stylewrapper .container.metro .step-container.paused.completed .step-area .step-item .step:hover {
  background-color: #464d07;
  border-color: #464d07;
}
.theme-entry .SFC.SourceCode-Forms-Controls-Web-ControlPack-ProgressControl:not(.disabled) .stylewrapper .container.metro .step-container.last-completed .step-area .step-item .connector-left,
.theme-entry .SFC.SourceCode-Forms-Controls-Web-ControlPack-ProgressControl:not(.disabled) .stylewrapper .container.metro .step-container.error.last-completed .step-area .step-item .connector-left,
.theme-entry .SFC.SourceCode-Forms-Controls-Web-ControlPack-ProgressControl:not(.disabled) .stylewrapper .container.metro .step-container.inprogress.last-completed .step-area .step-item .connector-left,
.theme-entry .SFC.SourceCode-Forms-Controls-Web-ControlPack-ProgressControl:not(.disabled) .stylewrapper .container.metro .step-container.completed.last-completed .step-area .step-item .connector-left,
.theme-entry .SFC.SourceCode-Forms-Controls-Web-ControlPack-ProgressControl:not(.disabled) .stylewrapper .container.metro .step-container.paused.last-completed .step-area .step-item .connector-left {
  background-color: #c4d91f;
  border: none;
}
.theme-entry .SFC.SourceCode-Forms-Controls-Web-ControlPack-ProgressControl:not(.disabled) .stylewrapper .container.metro .step-container.error .step-area .step-item .step,
.theme-entry .SFC.SourceCode-Forms-Controls-Web-ControlPack-ProgressControl:not(.disabled) .stylewrapper .container.metro .step-container.error.error .step-area .step-item .step,
.theme-entry .SFC.SourceCode-Forms-Controls-Web-ControlPack-ProgressControl:not(.disabled) .stylewrapper .container.metro .step-container.inprogress.error .step-area .step-item .step,
.theme-entry .SFC.SourceCode-Forms-Controls-Web-ControlPack-ProgressControl:not(.disabled) .stylewrapper .container.metro .step-container.completed.error .step-area .step-item .step,
.theme-entry .SFC.SourceCode-Forms-Controls-Web-ControlPack-ProgressControl:not(.disabled) .stylewrapper .container.metro .step-container.paused.error .step-area .step-item .step {
  background-color: #b71c1c;
  border-color: #b71c1c;
}
.theme-entry .SFC.SourceCode-Forms-Controls-Web-ControlPack-ProgressControl:not(.disabled) .stylewrapper .container.metro .step-container.error .step-area .step-item .step:hover,
.theme-entry .SFC.SourceCode-Forms-Controls-Web-ControlPack-ProgressControl:not(.disabled) .stylewrapper .container.metro .step-container.error.error .step-area .step-item .step:hover,
.theme-entry .SFC.SourceCode-Forms-Controls-Web-ControlPack-ProgressControl:not(.disabled) .stylewrapper .container.metro .step-container.inprogress.error .step-area .step-item .step:hover,
.theme-entry .SFC.SourceCode-Forms-Controls-Web-ControlPack-ProgressControl:not(.disabled) .stylewrapper .container.metro .step-container.completed.error .step-area .step-item .step:hover,
.theme-entry .SFC.SourceCode-Forms-Controls-Web-ControlPack-ProgressControl:not(.disabled) .stylewrapper .container.metro .step-container.paused.error .step-area .step-item .step:hover {
  background-color: #c77272;
  border-color: #c77272;
}
.theme-entry .SFC.SourceCode-Forms-Controls-Web-ControlPack-ProgressControl:not(.disabled) .stylewrapper .container.metro .step-container.paused .step-area .step-item .step,
.theme-entry .SFC.SourceCode-Forms-Controls-Web-ControlPack-ProgressControl:not(.disabled) .stylewrapper .container.metro .step-container.error.paused .step-area .step-item .step,
.theme-entry .SFC.SourceCode-Forms-Controls-Web-ControlPack-ProgressControl:not(.disabled) .stylewrapper .container.metro .step-container.inprogress.paused .step-area .step-item .step,
.theme-entry .SFC.SourceCode-Forms-Controls-Web-ControlPack-ProgressControl:not(.disabled) .stylewrapper .container.metro .step-container.completed.paused .step-area .step-item .step,
.theme-entry .SFC.SourceCode-Forms-Controls-Web-ControlPack-ProgressControl:not(.disabled) .stylewrapper .container.metro .step-container.paused.paused .step-area .step-item .step {
  background-color: #bfbfbf;
  border-color: #bfbfbf;
}
.theme-entry .SFC.SourceCode-Forms-Controls-Web-ControlPack-ProgressControl:not(.disabled) .stylewrapper .container.metro .step-container.paused .step-area .step-item .step:hover,
.theme-entry .SFC.SourceCode-Forms-Controls-Web-ControlPack-ProgressControl:not(.disabled) .stylewrapper .container.metro .step-container.error.paused .step-area .step-item .step:hover,
.theme-entry .SFC.SourceCode-Forms-Controls-Web-ControlPack-ProgressControl:not(.disabled) .stylewrapper .container.metro .step-container.inprogress.paused .step-area .step-item .step:hover,
.theme-entry .SFC.SourceCode-Forms-Controls-Web-ControlPack-ProgressControl:not(.disabled) .stylewrapper .container.metro .step-container.completed.paused .step-area .step-item .step:hover,
.theme-entry .SFC.SourceCode-Forms-Controls-Web-ControlPack-ProgressControl:not(.disabled) .stylewrapper .container.metro .step-container.paused.paused .step-area .step-item .step:hover {
  background-color: #464d07;
  border-color: #464d07;
}
.theme-entry .SFC.SourceCode-Forms-Controls-Web-ControlPack-ProgressControl:not(.disabled) .stylewrapper .container.metro .step-container.selected .step-area .step-item .step,
.theme-entry .SFC.SourceCode-Forms-Controls-Web-ControlPack-ProgressControl:not(.disabled) .stylewrapper .container.metro .step-container.error.selected .step-area .step-item .step,
.theme-entry .SFC.SourceCode-Forms-Controls-Web-ControlPack-ProgressControl:not(.disabled) .stylewrapper .container.metro .step-container.inprogress.selected .step-area .step-item .step,
.theme-entry .SFC.SourceCode-Forms-Controls-Web-ControlPack-ProgressControl:not(.disabled) .stylewrapper .container.metro .step-container.completed.selected .step-area .step-item .step,
.theme-entry .SFC.SourceCode-Forms-Controls-Web-ControlPack-ProgressControl:not(.disabled) .stylewrapper .container.metro .step-container.paused.selected .step-area .step-item .step {
  background-color: #464d07;
  border-color: #464d07;
}
.theme-entry .SFC.SourceCode-Forms-Controls-Web-ControlPack-ProgressControl:not(.disabled) .stylewrapper .container.metro .step-container.selected .step-area .step-item .step:hover,
.theme-entry .SFC.SourceCode-Forms-Controls-Web-ControlPack-ProgressControl:not(.disabled) .stylewrapper .container.metro .step-container.error.selected .step-area .step-item .step:hover,
.theme-entry .SFC.SourceCode-Forms-Controls-Web-ControlPack-ProgressControl:not(.disabled) .stylewrapper .container.metro .step-container.inprogress.selected .step-area .step-item .step:hover,
.theme-entry .SFC.SourceCode-Forms-Controls-Web-ControlPack-ProgressControl:not(.disabled) .stylewrapper .container.metro .step-container.completed.selected .step-area .step-item .step:hover,
.theme-entry .SFC.SourceCode-Forms-Controls-Web-ControlPack-ProgressControl:not(.disabled) .stylewrapper .container.metro .step-container.paused.selected .step-area .step-item .step:hover {
  background-color: #c4d91f;
  border-color: #c4d91f;
}
.theme-entry .SFC.SourceCode-Forms-Controls-Web-ControlPack-ProgressControl:not(.disabled) .stylewrapper .container.metro .step-container .step-area .step-item .connector-left,
.theme-entry .SFC.SourceCode-Forms-Controls-Web-ControlPack-ProgressControl:not(.disabled) .stylewrapper .container.metro .step-container.error .step-area .step-item .connector-left,
.theme-entry .SFC.SourceCode-Forms-Controls-Web-ControlPack-ProgressControl:not(.disabled) .stylewrapper .container.metro .step-container.inprogress .step-area .step-item .connector-left,
.theme-entry .SFC.SourceCode-Forms-Controls-Web-ControlPack-ProgressControl:not(.disabled) .stylewrapper .container.metro .step-container.completed .step-area .step-item .connector-left,
.theme-entry .SFC.SourceCode-Forms-Controls-Web-ControlPack-ProgressControl:not(.disabled) .stylewrapper .container.metro .step-container.paused .step-area .step-item .connector-left,
.theme-entry .SFC.SourceCode-Forms-Controls-Web-ControlPack-ProgressControl:not(.disabled) .stylewrapper .container.metro .step-container .step-area .step-item .connector-right,
.theme-entry .SFC.SourceCode-Forms-Controls-Web-ControlPack-ProgressControl:not(.disabled) .stylewrapper .container.metro .step-container.error .step-area .step-item .connector-right,
.theme-entry .SFC.SourceCode-Forms-Controls-Web-ControlPack-ProgressControl:not(.disabled) .stylewrapper .container.metro .step-container.inprogress .step-area .step-item .connector-right,
.theme-entry .SFC.SourceCode-Forms-Controls-Web-ControlPack-ProgressControl:not(.disabled) .stylewrapper .container.metro .step-container.completed .step-area .step-item .connector-right,
.theme-entry .SFC.SourceCode-Forms-Controls-Web-ControlPack-ProgressControl:not(.disabled) .stylewrapper .container.metro .step-container.paused .step-area .step-item .connector-right {
  background-color: #f7f7f7;
  border-top: 1px solid;
  border-bottom: 1px solid;
  border-color: #464d07;
}
.theme-entry .SFC.SourceCode-Forms-Controls-Web-ControlPack-ProgressControl:not(.disabled) .stylewrapper .container.metro .step-container.next-completed .step-area .step-item .connector-right,
.theme-entry .SFC.SourceCode-Forms-Controls-Web-ControlPack-ProgressControl:not(.disabled) .stylewrapper .container.metro .step-container.error.next-completed .step-area .step-item .connector-right,
.theme-entry .SFC.SourceCode-Forms-Controls-Web-ControlPack-ProgressControl:not(.disabled) .stylewrapper .container.metro .step-container.inprogress.next-completed .step-area .step-item .connector-right,
.theme-entry .SFC.SourceCode-Forms-Controls-Web-ControlPack-ProgressControl:not(.disabled) .stylewrapper .container.metro .step-container.completed.next-completed .step-area .step-item .connector-right,
.theme-entry .SFC.SourceCode-Forms-Controls-Web-ControlPack-ProgressControl:not(.disabled) .stylewrapper .container.metro .step-container.paused.next-completed .step-area .step-item .connector-right {
  background-color: #c4d91f;
  border: none;
}
.theme-entry .SFC.SourceCode-Forms-Controls-Web-ControlPack-ProgressControl:not(.disabled) .stylewrapper .container.metro .step-container.selected .step-area .step-title .title,
.theme-entry .SFC.SourceCode-Forms-Controls-Web-ControlPack-ProgressControl:not(.disabled) .stylewrapper .container.metro .step-container.error.selected .step-area .step-title .title,
.theme-entry .SFC.SourceCode-Forms-Controls-Web-ControlPack-ProgressControl:not(.disabled) .stylewrapper .container.metro .step-container.inprogress.selected .step-area .step-title .title,
.theme-entry .SFC.SourceCode-Forms-Controls-Web-ControlPack-ProgressControl:not(.disabled) .stylewrapper .container.metro .step-container.completed.selected .step-area .step-title .title,
.theme-entry .SFC.SourceCode-Forms-Controls-Web-ControlPack-ProgressControl:not(.disabled) .stylewrapper .container.metro .step-container.paused.selected .step-area .step-title .title {
  font-weight: bold;
}
