.theme-entry .SourceCode-Forms-Controls-Web-ControlPack-DynamicChart .dynamicChartThemeWrapper .dynamicChartControlColor0 {
  color: #393e00;
}
.theme-entry .SourceCode-Forms-Controls-Web-ControlPack-DynamicChart .dynamicChartThemeWrapper .dynamicChartControlColor1 {
  color: #360018;
}
.theme-entry .SourceCode-Forms-Controls-Web-ControlPack-DynamicChart .dynamicChartThemeWrapper .dynamicChartControlColor2 {
  color: #10022b;
}
.theme-entry .SourceCode-Forms-Controls-Web-ControlPack-DynamicChart .dynamicChartThemeWrapper .dynamicChartControlColor3 {
  color: #005637;
}
.theme-entry .SourceCode-Forms-Controls-Web-ControlPack-DynamicChart .dynamicChartThemeWrapper .dynamicChartControlColor4 {
  color: #563300;
}
.theme-entry .SourceCode-Forms-Controls-Web-ControlPack-DynamicChart .dynamicChartThemeWrapper .dynamicChartControlColor5 {
  color: #500005;
}
.theme-entry .SourceCode-Forms-Controls-Web-ControlPack-DynamicChart .dynamicChartThemeWrapper .dynamicChartControlColor6 {
  color: #a4b02c;
}
.theme-entry .SourceCode-Forms-Controls-Web-ControlPack-DynamicChart .dynamicChartThemeWrapper .dynamicChartControlColor7 {
  color: #a92a62;
}
.theme-entry .SourceCode-Forms-Controls-Web-ControlPack-DynamicChart .dynamicChartThemeWrapper .dynamicChartControlColor8 {
  color: #5834a1;
}
.theme-entry .SourceCode-Forms-Controls-Web-ControlPack-DynamicChart .dynamicChartThemeWrapper .dynamicChartControlColor9 {
  color: #2bab7d;
}
.theme-entry .SourceCode-Forms-Controls-Web-ControlPack-DynamicChart .dynamicChartThemeWrapper .dynamicChartControlColor10 {
  color: #ab762b;
}
.theme-entry .SourceCode-Forms-Controls-Web-ControlPack-DynamicChart .dynamicChartThemeWrapper .dynamicChartControlColor11 {
  color: #a82a33;
}
